* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: linear-gradient(rgb(110, 108, 108), rgb(3, 56, 3));
    color: #fff;
    text-align: center;
}


header .logo img {
    width: 150px;
}

body{
    background-color: rgba(26, 22, 25, 0.933);
}

main{
    min-height: 100vh;
}

/* Estilos generales del menú */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative; /* Necesario para el submenú */
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    background: linear-gradient((3, 56, 3));
    display: block;
}

nav ul li a:hover {
    background-color: #817e7e;
    border-radius: 3px;
}

/* Submenú oculto por defecto */
.dropdown-menu, .dropdown-submenu {
    display: none;
    position: absolute;
    top: 100%; /* Colocarlo justo debajo del menú principal */
    left: 0;
    background-color: #333;
    z-index: 1000;
}

.dropdown-menu li, .dropdown-submenu li {
    display: block;
    margin: 0;
}

.dropdown-menu li a, .dropdown-submenu li a {
    
    color: #fff;
    background-color: #444;
    text-align: left;
}

.dropdown-menu li a:hover, .dropdown-submenu li a:hover {
    background-color: #817e7e;;
}

/* Mostrar el submenú al pasar el cursor sobre el elemento padre */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Submenú de segundo nivel (Personajes y Temporadas) */
.dropdown-submenu {
    left: 100%; /* Aparecerá a la derecha del menú padre */
    top: 0;
}

.dropdown-menu li:hover .dropdown-submenu {
    display: block;
}

.menu-celu{
    display: none;
}

/* Submenú oculto por defecto */
.dropdown-menu-celu, .dropdown-submenu-celu {
    display: none;
    position: absolute;
    top: 100%; /* Colocarlo justo debajo del menú principal */
    left: 0;
    background-color: #333;
    z-index: 1000;
}

.dropdown-menu-celu li, .dropdown-submenu-celu li {
    display: block;
    margin: 0;
}

.dropdown-menu-celu li a, .dropdown-submenu-celu li a {
    
    color: #fff;
    background-color: #444;
    text-align: left;
}

.dropdown-menu-celu li a:hover, .dropdown-submenu-celu li a:hover {
    background-color: #817e7e;;
}

/* Mostrar el submenú al pasar el cursor sobre el elemento padre */
.dropdown-celu:hover .dropdown-menu-celu {
    display: block;
}

/* Submenú de segundo nivel (Personajes y Temporadas) */
.dropdown-submenu-celu {
    left: 100%; /* Aparecerá a la derecha del menú padre */
    top: 0;
}

.dropdown-menu-celu li:hover .dropdown-submenu-celu {
    display: block;
}

.hamburger-menu{
    display: none;
}

.titulo{
    padding-top: 15px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo img{
    max-width: 100%;
}

h1{
    display: none;
}

.contenedor{
    width: 100%;
    min-height: 100vh;
    justify-content:center;
    padding: 3px 2%;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    padding: 20px;
}

.galeria img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.25s ease;
}

.galeria img:hover{
    transform: scale(1.085)
}


footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
    text-align: center;
}

.social-media img {
    width: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.25);
}


@media (max-width: 576px){

    #menu-celu{
        background-color: #333;
        text-align: end;
        position: absolute; /* Hace que el menú se superponga al contenido */
        right: 0;
        z-index: 10; /* Asegura que el menú esté por encima de otros elementos */
        width: 150px;
    }

    #menu-celu .dropdown-menu-celu, #menu-celu .dropdown-submenu-celu {
        position: relative; /* Los submenús se despliegan hacia abajo */
        display: none; /* Ocultos inicialmente */
        margin-top: 5px; /* Espacio opcional entre submenús */
        background-color: #f0f0f0; /* Color opcional para submenús */
    }

    #menu-celu li:hover > .dropdown-menu-celu, #menu-celu li:hover > .dropdown-submenu-celu {
    display: block; /* Muestra el submenú cuando se hace hover */
    }

    #menu-celu .dropdown-menu-celu, #menu-celu .dropdown-submenu-celu {
    position: relative; /* Despliegue hacia abajo */
    display: none;
    margin-top: 5px;
    background-color: #f0f0f0;
    }

/* Ajuste para el último submenú para que se despliegue hacia la izquierda */
    #menu-celu .dropdown-submenu-celu {
    position: absolute; /* Posiciona el submenú dentro del contenedor */
    top: 0;
    left: auto; /* Desactiva cualquier valor de "left" */
    right: 100%; /* Se despliega hacia la izquierda */
    }


    .menu{
        display: none;
    }
    
    .hamburger-menu {
        display: block;
        height: 40px;
        width: 40px;
        margin: 20px;
        margin-bottom: 0;
        background: linear-gradient(rgb(110, 108, 108), rgb(3, 56, 3));
    }

    .show {
        display: block;
    }


    header{
        display: flex;
        justify-content: space-between;
    }

    header .logo img {
        width: 120px;
        padding: 6%;
    }

    nav .menu {
        flex-direction: column;
        background-color: #333;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
    }

    nav ul li {
        margin: 0;
        width: 100%;
    }

    nav ul li a {
        padding: 15px;
        text-align: center;
        width: 100%;
    }

}

@media (max-width: 480px){

    #menu-celu{
        background-color: #333;
        text-align: end;
        position: absolute; /* Hace que el menú se superponga al contenido */
        right: 0;
        z-index: 10; /* Asegura que el menú esté por encima de otros elementos */
        width: 150px;
    }

    #menu-celu .dropdown-menu-celu, #menu-celu .dropdown-submenu-celu {
        position: relative; /* Los submenús se despliegan hacia abajo */
        display: none; /* Ocultos inicialmente */
        margin-top: 5px; /* Espacio opcional entre submenús */
        background-color: #f0f0f0; /* Color opcional para submenús */
    }

    #menu-celu li:hover > .dropdown-menu-celu, #menu-celu li:hover > .dropdown-submenu-celu {
    display: block; /* Muestra el submenú cuando se hace hover */
    }

    #menu-celu .dropdown-menu-celu, #menu-celu .dropdown-submenu-celu {
    position: relative; /* Despliegue hacia abajo */
    display: none;
    margin-top: 5px;
    background-color: #f0f0f0;
    }

/* Ajuste para el último submenú para que se despliegue hacia la izquierda */
    #menu-celu .dropdown-submenu-celu {
    position: absolute; /* Posiciona el submenú dentro del contenedor */
    top: 0;
    left: auto; /* Desactiva cualquier valor de "left" */
    right: 100%; /* Se despliega hacia la izquierda */
    }


    .menu{
        display: none;
    }
    
    .hamburger-menu {
        display: block;
        height: 40px;
        width: 40px;
        margin: 20px;
        margin-bottom: 0;
        background: linear-gradient(rgb(110, 108, 108), rgb(3, 56, 3));
    }

    .show {
        display: block;
    }

    header{
        display: flex;
        justify-content: space-between;
    }

    header .logo img {
        width: 120px;
        padding: 6%;
    }

}