header {
    background: linear-gradient(rgb(110, 108, 108), rgb(3, 56, 3));
    color: #fff;
    text-align: center;
}

header .logo img {
    width: 150px;
    padding-top: 5px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative; /* Necesario para el submenú */
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    background: linear-gradient((3, 56, 3));
    display: block;
}

nav ul li a:hover {
    background-color: #817e7e;
    border-radius: 3px;
}

/* Submenú oculto por defecto */
.dropdown-menu, .dropdown-submenu {
    display: none;
    position: absolute;
    top: 100%; /* Colocarlo justo debajo del menú principal */
    left: 0;
    background-color: #333;
    z-index: 1000;
}

.dropdown-menu li, .dropdown-submenu li {
    display: block;
    margin: 0;
}

.dropdown-menu li a, .dropdown-submenu li a {
    
    color: #fff;
    background-color: #444;
    text-align: left;
}

.dropdown-menu li a:hover, .dropdown-submenu li a:hover {
    background-color: #817e7e;;
}

/* Mostrar el submenú al pasar el cursor sobre el elemento padre */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Submenú de segundo nivel (Personajes y Temporadas) */
.dropdown-submenu {
    left: 100%; /* Aparecerá a la derecha del menú padre */
    top: 0;
}

.dropdown-menu li:hover .dropdown-submenu {
    display: block;
}

.menu-celu{
    display: none;
}

/* Submenú oculto por defecto */
.dropdown-menu-celu, .dropdown-submenu-celu {
    display: none;
    position: absolute;
    top: 100%; /* Colocarlo justo debajo del menú principal */
    left: 0;
    background-color: #333;
    z-index: 1000;
}

.dropdown-menu-celu li, .dropdown-submenu-celu li {
    display: block;
    margin: 0;
}

.dropdown-menu-celu li a, .dropdown-submenu-celu li a {
    
    color: #fff;
    background-color: #444;
    text-align: left;
}

.dropdown-menu-celu li a:hover, .dropdown-submenu-celu li a:hover {
    background-color: #817e7e;;
}

/* Mostrar el submenú al pasar el cursor sobre el elemento padre */
.dropdown-celu:hover .dropdown-menu-celu {
    display: block;
}

/* Submenú de segundo nivel (Personajes y Temporadas) */
.dropdown-submenu-celu {
    left: 100%; /* Aparecerá a la derecha del menú padre */
    top: 0;
}

.dropdown-menu-celu li:hover .dropdown-submenu-celu {
    display: block;
}

.hamburger-menu{
    display: none;
}



body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white; /* El texto será blanco para que resalte sobre el fondo oscuro */  
}

.temporada1{
    background-image: url('../imagenes/tempo1.jpg');/* Ruta de la imagen */
    background-size: cover; /* La imagen cubrirá toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-attachment: fixed; /* Para que la imagen no se mueva al hacer scroll */
    background-repeat: no-repeat; /* Para que la imagen no se repita */
}

.temporada2{
    background-image: url('../imagenes/tempo2.jpg');/* Ruta de la imagen */
    background-size: cover; /* La imagen cubrirá toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-attachment: fixed; /* Para que la imagen no se mueva al hacer scroll */
    background-repeat: no-repeat; /* Para que la imagen no se repita */
}

.temporada3{
    background-image: url('../imagenes/tempo3.jpg');/* Ruta de la imagen */
    background-size: cover; /* La imagen cubrirá toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-attachment: fixed; /* Para que la imagen no se mueva al hacer scroll */
    background-repeat: no-repeat; /* Para que la imagen no se repita */

}

.temporada4{
    background-image: url('../imagenes/tempo4.jpg');/* Ruta de la imagen */
    background-size: cover; /* La imagen cubrirá toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-attachment: fixed; /* Para que la imagen no se mueva al hacer scroll */
    background-repeat: no-repeat; /* Para que la imagen no se repita */

}

.temporada5{
    background-image: url('../imagenes/tempo5.jpg');/* Ruta de la imagen */
    background-size: cover; /* La imagen cubrirá toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-attachment: fixed; /* Para que la imagen no se mueva al hacer scroll */
    background-repeat: no-repeat; /* Para que la imagen no se repita */
}


main{
    color: black;
    background-color: rgba(255, 255, 255, .92);
    border-radius: 3px;
    min-height: 480px;
    margin: 8rem;
    padding: 3rem;
    position: relative;
}


h1 {
    margin: 0;
    font-size: 2.5rem;
}


h2 {
    color: #333;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
}

h3{
    color: #333;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
}

.boton-siguiente {
    text-align: center; /* Centra el contenido dentro del div */
    margin: 20px 0; /* Agrega espacio arriba y abajo del botón */
}

.boton-siguiente a {
    display: inline-block; /* Para permitir padding */
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: green; /* Fondo verde */
    color: white; /* Texto blanco */
    text-decoration: none; /* Elimina el subrayado */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 18px; /* Tamaño de fuente */
}

.boton-siguiente a:hover {
    background-color: darkgreen; /* Cambio de color al pasar el ratón */
}

p {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#temporada{
    text-align: center;
}



img.historia-img {
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 2rem auto;
    border: 5px solid #ccc;
}

.multimedia {
    margin-top: 2rem;
    text-align: center;
    filter: drop-shadow(0 0 15px white);
}

audio, video {
    margin-top: 1rem;
    margin-bottom: 2rem;
    filter: drop-shadow(0 0 15px white);
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
    text-align: center;
}

.social-media img {
    width: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.25);
}


@media (max-width: 480px){

    #menu-celu{
        background-color: #333;
        text-align: end;
        position: absolute; /* Hace que el menú se superponga al contenido */
        right: 0;
        z-index: 10; /* Asegura que el menú esté por encima de otros elementos */
        width: 150px;
    }

    #menu-celu .dropdown-menu-celu, #menu-celu .dropdown-submenu-celu {
        position: relative; /* Los submenús se despliegan hacia abajo */
        display: none; /* Ocultos inicialmente */
        margin-top: 5px; /* Espacio opcional entre submenús */
        background-color: #f0f0f0; /* Color opcional para submenús */
    }

    #menu-celu li:hover > .dropdown-menu-celu, #menu-celu li:hover > .dropdown-submenu-celu {
    display: block; /* Muestra el submenú cuando se hace hover */
    }

    #menu-celu .dropdown-menu-celu, #menu-celu .dropdown-submenu-celu {
    position: relative; /* Despliegue hacia abajo */
    display: none;
    margin-top: 5px;
    background-color: #f0f0f0;
    }

/* Ajuste para el último submenú para que se despliegue hacia la izquierda */
    #menu-celu .dropdown-submenu-celu {
    position: absolute; /* Posiciona el submenú dentro del contenedor */
    top: 0;
    left: auto; /* Desactiva cualquier valor de "left" */
    right: 100%; /* Se despliega hacia la izquierda */
    }


    .menu{
        display: none;
    }
    
    .hamburger-menu {
        display: block;
        height: 40px;
        width: 40px;
        margin: 20px;
        margin-bottom: 0;
        background: linear-gradient(rgb(110, 108, 108), rgb(3, 56, 3));
    }

    .show {
        display: block;
    }

    header{
        display: flex;
        justify-content: space-between;
    }

    header .logo img {
        width: 120px;
        padding: 6%;
    }

    main{
        margin: 1rem;
        padding: 1rem;
    }
}


@media (max-width: 576px){

    #menu-celu{
        background-color: #333;
        text-align: end;
        position: absolute; /* Hace que el menú se superponga al contenido */
        right: 0;
        z-index: 10; /* Asegura que el menú esté por encima de otros elementos */
        width: 150px;
    }

    #menu-celu .dropdown-menu-celu, #menu-celu .dropdown-submenu-celu {
        position: relative; /* Los submenús se despliegan hacia abajo */
        display: none; /* Ocultos inicialmente */
        margin-top: 5px; /* Espacio opcional entre submenús */
        background-color: #f0f0f0; /* Color opcional para submenús */
    }

    #menu-celu li:hover > .dropdown-menu-celu, #menu-celu li:hover > .dropdown-submenu-celu {
    display: block; /* Muestra el submenú cuando se hace hover */
    }

    #menu-celu .dropdown-menu-celu, #menu-celu .dropdown-submenu-celu {
    position: relative; /* Despliegue hacia abajo */
    display: none;
    margin-top: 5px;
    background-color: #f0f0f0;
    }

/* Ajuste para el último submenú para que se despliegue hacia la izquierda */
    #menu-celu .dropdown-submenu-celu {
    position: absolute; /* Posiciona el submenú dentro del contenedor */
    top: 0;
    left: auto; /* Desactiva cualquier valor de "left" */
    right: 100%; /* Se despliega hacia la izquierda */
    }


    .menu{
        display: none;
    }
    
    .hamburger-menu {
        display: block;
        height: 40px;
        width: 40px;
        margin: 20px;
        margin-bottom: 0;
        background: linear-gradient(rgb(110, 108, 108), rgb(3, 56, 3));
    }

    .show {
        display: block;
    }


    header{
        display: flex;
        justify-content: space-between;
    }

    header .logo img {
        width: 120px;
        padding: 6%;
    }

    nav .menu {
        flex-direction: column;
        background-color: #333;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
    }

    main{
        margin: 1rem;
        padding: 1rem;
    }

    .multimedia{
        justify-content: center;
        text-align: center;
    }

    video{
        max-width: 370px;
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: center;
    }

    iframe{
        max-width: 300px;
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    
    }
}